@media (max-width: 767px) {
  .footer-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .footer-bottom-menu ul {
    justify-content: center !important;
  }
  .footer-social-contacts ul {
    justify-content: center !important;
    margin-bottom: 10px;
  }
  .footer-social-contacts ul li a {
    padding: 12px;
  }
  .footer-copyright-text {
    margin-bottom: 10px !important;
  }
  .footer-title {
    text-align: center;
  }
  .footer-widget .footer-menu-column li {
    text-align: center;
    justify-content: center;
  }
  .mainBannerSlider .owl-nav {
    bottom: 30px;
    top: auto;
    justify-content: center;
  }
  .swiper-slider-container::before {
    width: 100%;
  }
  .home-banner-carousel .home-banner-slide .home-banner-box .image-video-box {
    width: 100%; 
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer-title {
    text-align: left;
  }
  .footer-widget .footer-menu-column li {
    text-align: left;
  }
  .swiper-slider-container::before {
    width: 70%;
  }
  .home-banner-carousel .home-banner-slide .home-banner-box .image-video-box {
    width: 90%; 
  }
}

@media (max-width: 991px) {
  .feature-slide-content {
    height: 300px;
  }
  .footer-widget {
    text-align: center;
  }
  .news-letter-form-wrap {
    justify-content: center;
  }
  .newsletter-input {
    width: 100%;
  }
  .news-letter .newsletter-submit-btn {
    right: 6px;
  }
  .features-activities-title {margin-bottom: 20px;}
  .feature-activity-content-right {
    margin-top:30px;
  }
  .stories-count-daily-activities-sec .swiper-slider-container {
    padding:30px 30px 40px;
  }
  .filter-button-wrapper {
    margin-top:23px;
  }
  .daily-activities-slider .card-body{
    padding-bottom: 50px;
  }
  .home-banner-carousel .home-banner-slide .home-banner-box .image-video-box {
    /* width: 90%;  */
    height: 356px;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
  .common-section-title-head {
    font-size: 34px;
  }
}

@media (min-width: 992px) {
  .feature-slide-content {
    height: 400px;
  }
  .px--15 {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
  .footer-logo img {
    width: 144px;
    height: 56px;
  }
  .footer-widget {
    margin-bottom: 0px;
  }
  .footer-widget .footer-menu-column li:last-child{
    margin-bottom: 0px;
  }
  .features-activities-title {margin-bottom: 70px;}
  .home-banner-carousel .home-banner-slide .home-banner-box .image-video-box {
    height: 72vh;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  .swiper-slider-container::before {
    width: 530px;
  }
  .common-section-title-head {
    font-size: 42px;
  }
}

@media (min-width: 1500px) {
  .news-letter .newsletter-submit-btn {
    right: 50px;
  }
}

@media (min-width: 1600px) {
  .custom-container {
    max-width: calc(100% - 150px);
  }
}

@media (min-width: 1700px) {
  .news-letter .newsletter-submit-btn {
    right: 55px;
  }
  .footer-widget .footer-menu-column li a{
    font-size: 16px;
  }
}

@media (min-width: 1800px) {
  .news-letter .newsletter-submit-btn {
    right: 60px;
  }
}


@media (min-width: 1900px) {
  .footer-widget ul li a {
    font-size: 22px;
  }
  .footer-title {
    font-size: 24px;
  }
  .footer-main {
    background-color: #0a2647;
    padding: 80px 0;
  }
  .features-activities-title {margin-bottom: 90px;}

  .news-letter .newsletter-submit-btn {
    right: 67px;
  }
}

@media (min-width: 1920px) {
  .news-letter .form-control {
    height: 50px;
  }
  .custom-container {
    max-width: calc(100% - 200px);
  }
}
